<footer class="footer-section bg-white mt-4">
    <section class="container">
        <section class="row">
            <section class="col-md-12">
                <ul class="contact-us-links">
                    <li><a>Contact us</a></li>
                    <li><a>FAQ's</a></li>
                    <li><a>Terms & Conditions</a></li>
                    <li><a>Privacy Policy</a></li>
                    <li><a>About us</a></li>
                </ul>
            </section>
            <section class="col-md-12 col-sm-12">
                <div class="text-center">
                    <img class="img-logo" src="../../assets/img/logo.jpg">
                </div>
            </section>
            <section class="col-md-12 mt-3">
                <ul class="country-links">
                    <li><a href="">Kuwait</a></li>
                    <li><a href="">Soudi Arabia</a></li>
                    <li><a href="">United Arab Emirates</a></li>
                    <li><a href="">Bahrain</a></li>
                    <li><a href="">Worldwide</a></li>
                </ul>
            </section>
            <section class="col-md-12">
                <section class="row">
                    <section class="col-md-12 unselectable">
                        <div class="text-center">
                            <img src="../../assets/img/logo2.jpg" alt="">
                        </div>
                    </section>
                    <!-- <section class="col-md-12 d-flex flex-row-reverse">
                        <div class="row">
                            <ul class="social-btns">
                                <li><a href=""><i class="fab fa-facebook"></i></a></li>
                                <li><a href=""><i class="fab fa-twitter"></i></a></li>
                                <li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href=""><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                    </section> -->
                </section>
            </section>
        </section>
    </section>
</footer>